<div class="container">
  <h1>MEAN Stack Contacts Application</h1>
  <div class="panel panel-default">
    <p>
      Add some information about the application here that
      describes the pieces involved, how they work together,
      etc.
    </p>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">Contacts</div>
    </div>
    <div class="panel-body">
      <form novalidate #contactForm="ngForm">
       <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Number</th>
            <th>Actions</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input type="text" class="form-control" [(ngModel)]="name" name="name"></td>
            <td><input type="text" class="form-control" [(ngModel)]="email" name="email"></td>
            <td><input type="text" class="form-control" [(ngModel)]="number" name="number"></td>
            <td><button type="button" class="btn btn-default btn-block" (click)="add(contactForm)">Add contact</button></td>
            <td><button type="button" class="btn btn-info btn-block" (click)="update()">Update</button></td>
          </tr>
          <tr *ngFor="let c of contacts?.value">
            <td>{{c.name}}</td>
            <td>{{c.email}}</td>
            <td>{{c.number}}</td>
            <td><button type="button" class="btn btn-danger btn-block" (click)="remove(c._id)">Remove</button></td>
            <td><button type="button" class="btn btn-warning btn-block" (click)="edit(c._id)">Edit</button></td>
          </tr>
        </tbody>
      </table>
    </form>
    </div>
  </div>
</div>